{% extends 'layout.html' %}

{% block dashboard %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{total}}
                </div>
                <div class="desc">
                     Total Users
                </div>
            </div>
            <a class="more" href="/list">
            View users details <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    Add Users
                </div>
            </div>
            <a class="more" href="/adduser">
            Click here <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}