{% extends 'layout.html' %}

{% block salary %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    View Users Salary
                </div>
            </div>
            <a class="more" href="/salaries">
                Click here <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}
