{% extends 'layout.html' %}

{% block salaryTable %}
<div class="portlet box yellow">
     <div class="portlet-title">
          <div class="caption">
               {% block title %}
               <h2>Users Salary</h2>
               {% endblock %}
          </div>
     </div>
     <div class="portlet-body">
          <div class="table-scrollable">
               <table class="table table-hover">
                    <thead>
                         <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone</th>
                              <th scope="col">Salary</th>
                         </tr>
                    </thead>
                    <tbody>
                         {% for data in details %}

                         {% if data.UserSalary != null %}
                         <tr>
                              <td>{{data.name}}</td>
                              <td>{{data.email}}</td>
                              <td>{{data.phone}}</td>
                              <td>{{data.UserSalary.salary}}</td>
                         </tr>
                         {% endif %}
                         {% endfor %}
                    </tbody>
               </table>
          </div>
     </div>
</div>
{% endblock %}