{% extends 'layout.html' %}

{% block new %}
{% if msg != '' %}
<h4 id='flashMsg'>{{msg}}</h4>
{% endif %}
<a href="/pdf"><button type="button" class="btn btn-primary btn-md" style='margin: 5px;'>Download PDF</button></a>
<div class="portlet box yellow">
     <div class="portlet-title">
          <div class="caption">
               {% block title %}
               <h2>Total Users</h2>
               {% endblock %}
          </div>
     </div>
     <div class="portlet-body">
          <div class="table-scrollable">
               <table class="table table-hover">
                    <thead>
                         <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Phone</th>
                              <th scope="col">Date of Birth</th>
                              <th scope="col">Address</th>
                              <th scope="col">Image</th>
                              <th scope="col">Date</th>
                              <th scope="col">Edit</th>
                              <th scope="col">Delete</th>
                         </tr>
                    </thead>
                    <tbody>
                         {% for data in details %}
                         <tr>
                              <td>{{data.name}}</td>
                              <td>{{data.email}}</td>
                              <td>{{data.phone}}</td>
                              <td>{{data.date  | date('d-m-Y')}}</td>
                              <td>{{data.address1}}, {{data.address2}}</td>
                              <td>
                                   {% if data.imageurl %}
                                   <img src='{{data.imageurl}}' width='30px' height="30px">
                                   {% endif %}
                               </td>
                              <td>{{data.createdAt | date('d-m-Y')}}</td>
                              <td><a href="/edit/{{data.id}}"><button type="button" class="btn btn-warning btn-sm">Edit</button></a></td>
                              <td><a href="/delete/{{data.id}}"><button type="button" onclick='return confirm("Do you want to delete this record?")' class="btn btn-danger btn-sm">Delete</button></a></td>
                         </tr>
                         {% endfor %}

                    </tbody>
               </table>
          </div>
     </div>
</div>
{% endblock %}

{% block script %}
<script src='../assets/global/plugins/jquery-3.5.1.min.js'></script>
<script src='../assets/global/plugins/myjquery.js'></script>
{% endblock %}