<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Minimal working example</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js'></script>

</head>
<body>
    <h2>Socket Chatbot</h2>
    <div id='feedback'></div>
    <input type='text' id='message'>
    <button type='submit' id='change_message'>Send</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='/javascripts/socket.js'></script>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io example</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js'></script>
</head>
<body>
    <h2>Socket Chatbot</h2>
    <div id='feedback'></div>
    <input type='text' id='message' value='Shubham'>
    <button type='submit' id='change_message'>Send</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='/javascripts/socket.js'></script>
</body>
</html> -->